@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: var(--background);
    color: var(--color);
}
:root {
    --background: #FFF7F7;
    --color: #641723;
    --border: #EC8E7B;
    --component: #FFCDCE;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    border-bottom: 1px solid var(--border);
}
header .logo{
    width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
}
header .logo div{
    background-image: url(images/profil_mamesayelom.jpeg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center top;
    background-size: cover;
}
header .menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header .menu li a{
    text-decoration: none;
    color: var(--color);
}
header .menu li a:hover{
    padding:10px 20px;
    background-color: var(--component);
    color: #CE2C31;
    transition: 0.5s;
    border-radius: 20px;
}

#accueil{
    height: 400px;
    display: grid;
    place-items: center;
}
#accueil .container{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#accueil .container .name{
    width: 60%;
}
#accueil .container .name a{
    background-color: var(--color);
    text-decoration: none;
    color: var(--background);
    padding: 10px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
}
#accueil .container .profil{
    width: 40%;
    display: flex;
    justify-content: center;
    
}
#accueil .container .profil div{
    height: 250px;
    width: 250px;
    background-image: url(images/profil_mamesayelom.jpeg);
    border: 1px solid var(--border);
    background-position: center top;
    background-size: cover;
    border-radius: 50%;
}

#apropos{
    height: 200px;
    display: grid;
    place-items: center;
}
#apropos .container,#competences .container,#projets .container,#contact .container{
    width: 70%;
}
#apropos h2,#competences h2,#projets h2,#contact h2{
    border-bottom: 1px solid var(--border);
    padding-bottom: 5px;
    margin-bottom: 10px;
}
#competences{
    height: 150px;
    display: grid;
    place-items: center;
}
.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    background-color: var(--color);
    color: var(--background);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
}

#projets{
    height: 480px;
    display: grid;
    place-items: center;
}

#projets .projects {
    height: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#projets .projects .project {
    background: var(--component);
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    position: relative;
    box-shadow: 0 2px 3px var(--border);
}

#projets .projects .project img {
    width: 100%;
    height: 140px;
    border-radius: 8px;
}

#projets .projects .project a {
    display: inline-block;
    margin-top: 10px;
    color: var(--background);
    background-color: var(--color);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    font-size: 12px;
}

#contact{
    height: 380px;
    display: grid;
    place-items: center;
}

#contact form{
    text-align: center;
}
#contact form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border);
    outline: none;
}

#contact form button {
    background-color: var(--color);
    color: var(--background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px 50px;
}

footer{
    text-align: center;
    background-color: var(--color);
    color: var(--background);
    font-size: 12px;
    padding: 10px 0;
}



@media (max-width:1060px) {
    header .menu{
        width: 60%;
    }
    #projets{
        height: 800px;
    }
    #projets .projects {
    height: 700px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    }
    .project:nth-child(3) {
        grid-column: 1 / 3;   /* prend toute la largeur */
        width: 50%;
        margin: auto;
        height: 100%;
    }
}
@media (max-width:950px){
    header .menu{
        font-size: 12px;
    }
    #accueil .container,#apropos .container,#competences .container,#projets .container,#contact .container{
        width: 80%;
    }
    #competences{
        height: 200px;
    }
}
@media (max-width:850px){
    header .logo h4{
        font-size: 14px;
    }
}
@media (max-width:800px){
    header{
        padding: 20px 40px;
    }
    #accueil .container,#apropos .container,#competences .container,#projets .container,#contact .container{
        width: 90%;
    }
}
@media (max-width:700px){
    header .logo div{
        width: 40px;
        height: 40px;
    }
    header .menu li a:hover{
        padding:10px;
    }
    #competences{
        height: 300px;
    }
}
@media (max-width:660px){
    header .menu{
        font-size: 10px;
    }
    header .logo h4{
        font-size: 12px;
    }
    #accueil .container .profil div{
        height: 200px;
        width: 200px;
    }
    #projets{
        height: 1050px;
    }
    #projets .projects {
        height: 1000px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .project:nth-child(3) {
        grid-column: 1 / 2;   /* prend toute la largeur */
    }

    #projets .projects .project {
        width: 60%;
        margin: auto;
        height: 100%;
        
    }
}

@media (max-width:600px){
    header{
        padding: 20px;
    }
    #competences{
        height: 350px;
    }
    header .logo div{
        width: 30px;
        height: 30px;
    }
    #accueil .container .profil div{
        height: 160px;
        width: 160px;
    }
}

@media (max-width:550px){
    header .logo div{
        display: none;
    }
    header .menu li a:hover{
        padding:5px;
    }
    header{
        padding: 20px 10px;
    }
    #accueil{
        height: 300px;
    }
    #accueil .container .name h1{
        font-size: 25px;
    }
    #accueil .container .name p{
        font-size: 14px;
    }
    #apropos .container p{
        font-size: 14px;
    }
    #competences{
        height: 300px;
    }
    #projets{
        height: 1250px;
    }
    #projets .projects {
        height: 1150px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media (max-width:450px){
    header{
        padding: 20px 50px;
    }
    header .logo{
        display: none;
    }
    header .menu{
        width: 100%;
    }
    header .menu li a:hover{
        padding:5px 8px;
    }
}

